.wrapper {
    /* Column */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 28px;

    margin: 0 auto;
    width: 100px;
    height: 281px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.title {
    /* Sitemap */

    width: 99px;
    height: 28px;

    /* Headlines/H5 */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 28px;
    /* identical to box height, or 120% */

    /* black */
    color: #0A0F1C;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.list {
    /* links */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    width: 100px;
    height: 225px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}