:root {
    --container-width: 1440px; /* Базова ширина контейнера */
    --container-padding: 64px; /* Відступи на ПК */
    --mobile-padding: 16px;    /* Відступи для мобільних */
}

.custom-container {
    background-color: #f5f5f5;
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 var(--container-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1024px) {
    :root {
        --container-width: 960px; /* Ширина для планшетів */
        --container-padding: 32px; /* Відступи для планшетів */
    }
}

@media (max-width: 640px) {
    :root {
        --container-width: 100%; /* Ширина для мобільних */
        --container-padding: 16px; /* Менші відступи */
    }

    .custom-container {
        padding: 0 var(--container-padding); /* Використання змінної */
    }
}
 