.text {
    /* Follow us */

    width: 112px;
    height: 28px;

    /* Headlines/H5 */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 28px;
    /* identical to box height, or 120% */

    /* black */
    color: #0A0F1C;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
