.section1 {
    display: flex;
    flex-direction: row; /* Змінив на row для горизонтального вирівнювання */
    padding: 0px; /* Додав відступи */
    gap: 20px; /* Додав проміжок між елементами */
    /* width: 1000px; */
    justify-content: space-around;
}           

.container {
    display: flex;
    flex-direction: column;
}

.image {
    width: 80%;
    height: 344px;
    border: 1px solid #000000;
    background-color: #f0f0f0; /* Додав фон для візуалізації секції */
    flex: none; /* Додав flex для контролю поведінки */
    order: 1; /* Встановив порядок елемента */
    flex-grow: 0; /* Залишив без зростання */
}
