.wrapper {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 24px;
    font-weight: 700;
    color: #000;
}

.card_blog {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}  
