.wrapper {
    /* height:  813.25; */
}

.logo {
    /* font-family: monse; */
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    /* або інший розмір */
    font-weight: 900;
    /* Для Black */
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; /* Лівий і правий елементи займають по 2 частини, центральний — 1 */
    justify-content: space-between; /* Простір між елементами */
    width: 100%; /* Розтягнути контейнер по ширині */
    padding: 20px; /* Відступи всередині футера */
    box-sizing: border-box; /* Ураховує padding у ширині */
    background-color: #f5f5f5; /* Приклад кольору фону */
}