
.container {
    display: flex;
    flex-direction: row; /* Залишив горизонтальне вирівнювання */
}

.title {
    flex: 1; /* Назва займає одну третю частину */
    text-align: center;
}

.team {
    flex: 2; /* Картки займають дві треті */
    display: flex;
    flex-wrap: wrap; /* Додав обгортання для розташування карток */
    gap: 20px; /* Проміжок між картками */
}
